* {
    margin: 0;
    padding: 0;
}

/* body {
    display: flex;
    justify-content: center;
}
 */
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.logo {
    grid-area: 1 / 1 / 2 / 2;
}
.logo img{
    width: 100%;
}

.nadpis {
    grid-area: 1 / 2 / 2 / 5;
}

.nadpis h1{
    position: relative;
    text-align: center;
    font-size: 55px;
    margin-top: 60px;
}
.navig {
    grid-area: 1 / 5 / 2 / 8;
}

.navig h2{
    position: relative;
    text-align: center;
    font-size: 40px;
    margin-top: 60px;
}

.text1 {
    grid-area: 2 / 1 / 4 / 4;
}

.text1 h3{
    position: relative;
    text-align: center;
    font-size: 20px;
    margin-top: 50px;
}
.fotka1 {
    grid-area: 2 / 4 / 3 / 5;
}

.fotka1 img{
    width: 100%;
}
.fotka5 {
    grid-area: 3 / 4 / 4 / 5;
}

.fotka5 img{
    width: 100%;
}
.text2 {
    grid-area: 2 / 5 / 4 / 8;
}

.text2 h4{
    position: relative;
    text-align: center;
    font-size: 20px;
    margin-top: 50px;
}

.text3 {
    grid-area: 4 / 1 / 6 / 3;
}

.text3 h5 {
    position: relative;
    text-align: center;
    font-size: 20px;
    margin-top: 50px;
}
.text4 {
    grid-area: 4 / 3 / 7 / 6;
}

.text4 h6{
    position: relative;
    text-align: center;
    font-size: 20px;
    margin-top: 50px;
}

.fotka2 {
    grid-area: 4 / 6 / 5 / 7;
}

.fotka2 img{
    width: 100%;
    margin-top: 50%;
}
.fotka6 {
    grid-area: 4 / 7 / 5 / 8;
}
.fotka6 img {
    width: 100%;
    margin-top: 50%;
}

.fotka3 {
    grid-area: 6 / 1 / 8 /3;
}

.fotka3 img {
    width: 100%;
    margin-top: 50%;
}

.fotka4 {
    grid-area: 7 / 3 / 8 / 4; 
}
.fotka4 iframe{
    width: 100%;
    margin-top: 25%;
}

.fotka7 {
    grid-area: 7 / 4 / 8 / 5;
}

.fotka7 iframe{
    width: 100%;
    margin-top: 25%;
}
.fotka8 {
    grid-area: 7 / 5 / 8 / 6;
}

.fotka8 iframe{
    width: 100%;
    margin-top: 25%;
}

.text5 {
    grid-area: 5 / 6 / 8 / 8;
}

.text5 h6{
    position: relative;
    text-align: center;
    font-size: 20px;
    margin-top: 50px;
}


.grid div:nth-child(even){
    background-color: white;
}

.grid div:nth-child(odd){
    background-color: lightcoral;
}

